<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dialogs used in Invensist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div id="userDialog" class="modal fade" th:fragment="user-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="userDialogTitle"></h4>
				</div>
				<form class="form-horizontal modal-body" id="usersForm"
					novalidate="novalidate" name="user">
					<div class="form-group">						
						<div class="col-xs-5">
							<input type="hidden" class="form-control" id="id" name="id"  />
						</div>
					</div>
					<div class="form-group">
						<label for="firstName" class="control-label col-xs-4">First
							Name *</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="firstName"
								name="firstName" placeholder="First Name" required="required" />
						</div>
					</div>
					<div class="form-group">
						<label for="lastName" class="control-label col-xs-4">Last
							Name</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" id="lastName"
								name="lastName" placeholder="Last Name" />
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="control-label col-xs-4">Email *</label>
						<div class="col-xs-5">
							<input type="email" class="form-control" id="email" name="email"
								placeholder="Email"
								th:attr="data-remote=@{/check-valid-email.json}"
								required="required" />
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="control-label col-xs-4">Phone</label>
						<div class="col-xs-5">
							<input type="tel" class="form-control" id="phone" name="phone"
								placeholder="Phone" />
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="control-label col-xs-4">Address</label>
						<div class="col-xs-5">
							<textarea class="form-control" id="address" name="address"
								placeholder="Address"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="roles" class="control-label col-xs-4">Roles</label>
						<div class="form-check col-xs-5 roles">
							<div class="radio role">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="admin" /> Admin
								</label>
							</div>
							<div class="radio role">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="planner" />
									Planner
								</label>
							</div>
							<div class="radio role">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="user"
									checked="checked" /> User
								</label>
							</div>
							<div class="at-least-one-role hidden">You should select at
								least one role</div>
						</div>
					</div>
					<div id="passwords">
						<div class="form-group password">
							<label for="password" class="control-label col-xs-4">Password
								*</label>
							<div class="col-xs-5">
								<input type="password" class="form-control" id="password"
									name="password" placeholder="Password" />
							</div>
						</div>
						<div class="form-group password">
							<label for="confirmPassword" class="control-label col-xs-4">Confirm
								Password *</label>
							<div class="col-xs-5">
								<input type="password" class="form-control"
									id="confirm-password" name="confirmPassword"
									placeholder="Confirm Password" />
								<div class="password-confirm-password-shoud-be-same hidden">Password
									and Confirm Password should be same</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="saveUser">Save
							changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="userStoreDialog" class="modal fade" th:fragment="user-store-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="userStoreDialogTitle"></h4>
				</div>
				<div class="modal-body dual-selector"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" id="saveStoreAssignments">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal HTML -->
	<div id="associateDialog" class="modal fade" th:fragment="associate-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="associateDialogTitle"></h4>
				</div>
				<div class="modal-body">
				<form class="form-horizontal" id="associatesForm">
					<div class="form-group">						
						<div class="col-xs-5">
							<input type="hidden" class="form-control" id="id" name="id"  />
						</div>
					</div>
				    <div class="form-group">
				        <label for="name" class="control-label col-xs-4">Name</label>
				        <div class="col-xs-5">
				            <input type="text" class="form-control" id="name" placeholder="Name"/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="email" class="control-label col-xs-4">Email</label>
				        <div class="col-xs-5">
				            <input type="email" class="form-control" id="email" placeholder="Email"/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="phone" class="control-label col-xs-4">Phone</label>
				        <div class="col-xs-5">
				            <input type="tel" class="form-control" id="phone" placeholder="Phone"/>
				        </div>
				    </div>
				    <div class="form-group">
				        <label for="address" class="control-label col-xs-4">Address</label>
				        <div class="col-xs-5">
				            <textarea class="form-control" id="address" placeholder="Address" name="address"></textarea>
				        </div>
				    </div>
					<div class="form-group">
						<label for="roles" class="control-label col-xs-4">Type</label>
						<div class="form-check col-xs-5 roles">
							<div class="radio role">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="client" checked="checked"/> Client
								</label>
							</div>
							<div class="radio role">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox" name="vendour" />
									Vendour
								</label>
							</div>
						</div>
					</div>
				    <div class="form-group">
				        <label for="address" class="control-label col-xs-4">Notes</label>
				        <div class="col-xs-5">
				            <textarea class="form-control" id="notes" placeholder="Notes" name="notes"></textarea>
				        </div>
				    </div>
				</form>				
				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>