<head th:fragment="header">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Einsicht Inventory Manager</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<!-- MetisMenu CSS -->
	<link rel="stylesheet" th:href="@{/vendor/metisMenu/metisMenu.min.css}" />
	
	<!-- DataTables CSS -->
	<link rel="stylesheet"
		th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" />
	
	<!-- DataTables Responsive CSS -->
	<link rel="stylesheet"
		th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" />
	
	<!-- jQuery DataTables CSS -->
	<link rel="stylesheet"
		th:href="@{/vendor/datatables/css/jquery.dataTables.min.css}" />
	
	<!-- jQuery DataTables Select CSS -->
	<link rel="stylesheet"
		th:href="@{/vendor/datatables/css/select.dataTables.min.css}" />
	
	<!-- jQuery DataTables Button CSS -->
	<link rel="stylesheet"
		th:href="@{/vendor/datatables/css/buttons.dataTables.min.css}" />
	
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/dist/css/sb-admin-2.css}" />
	
	<!-- Custom Fonts -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
	
	<!-- Custom Fonts -->
	<link rel="stylesheet" type="text/css"
		th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" />
	
	<!-- App CSS  -->
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
</head>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/}">Invensist <i>(1.0)</i></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile</a>
                </li>
                <li><a th:href="@{/reset-password}"><i class="fa fa-gear fa-fw"></i> Reset Password</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a th:href="@{/}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog fa-fw"></i> Configuration<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/users}"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a th:href="@{/stores}"><i class="fa fa-shopping-basket fa-fw"></i> Stores</a>
                        </li>
                        <li>
                            <a th:href="@{/associates}"><i class="fa fa-users fa-fw"></i> Associates</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list fa-fw"></i> Items</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-cart-plus fa-fw"></i> Inventory<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><i class="fa fa-sign-in fa-fw"></i> Inward</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange fa-fw"></i> Transfer</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sort-amount-asc fa-fw"></i> Shortage</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trash-o fa-fw"></i> Wastage</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Assembly</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-retweet fa-fw"></i> BreakUp</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out  fa-fw"></i> Outward</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop fa-fw"></i> Planning<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Orders</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-copy fa-fw"></i> Invoices</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">TODO</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
<div th:fragment="scripts">
	<input id="context" th:value="@{/}" type="hidden"/>
	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
	<!-- DataTables JavaScript -->
	<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>
	<script th:src="@{/vendor/datatables/js/dataTables.select.min.js}"></script>
	<script th:src="@{/vendor/datatables/js/dataTables.buttons.min.js}"></script>
	<!-- Custom Theme JavaScript -->
	<script th:src="@{/dist/js/sb-admin-2.js}"></script>
	<script th:src="@{/vendor/extend/extend.min.js}"></script>
	<script th:src="@{/js/service.js}"></script>
	<script type="text/javascript">
		var contextRoot = $("#context").val();
		contextRoot = contextRoot.substring(0, contextRoot.length-1);;
	</script>
</div>

